:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	/* color-scheme: light dark; */
	/* color: rgba(255, 255, 255, 0.87); */
	/* background-color: #242424; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--tile-size: 40px;
	/* --light-tiles: #f0d8b7;
	--dark-tiles: #b48764; */
	--light-tiles: #fffafa;
	--dark-tiles: #000;
	--high-light-tiles: #2417d3;
	/* --highlight-tiles: rgba(0, 0, 0, 0.1); */
	--check: #feec48;

	--glow-color: hsl(186 100% 69%);
}
*,
html::after,
html::before {
	margin: 0;
	padding: 0;
}

/* Mobile Target Device*/
@media all and (max-width: 450px) {
	:root {
		--tile-size: 50px;
	}
}

/*================================ Splash Screen ======================================*/
.view_container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.splash_wrapper,
.search_wrapper,
.play_wrapper,
.load_wrapper {
	position: relative;
	width: 390px;
	height: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
}
.splash_background {
	width: 100%;
	height: 100%;
	background-image: url("/splashScreen/bg.png");
	background-size: contain !important;
	background-repeat: no-repeat;
}
.splash_logo {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 50px;
	z-index: 100;
	/* background-color: #39ac31; */
	background-image: url("/splashScreen/title.png");
	background-size: contain !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* ================================ matchMaking Component =============================*/
.search_banner_bg {
	width: 100%;
	height: 100%;
	background-image: url("/match_making/bg.png");
	background-size: contain !important;
	background-repeat: no-repeat;

	display: flex;
	align-items: center;
	justify-content: center;
}
.search_banner_bg > .inner_wrapper {
	width: 330px;
	height: 300px;
	margin-bottom: 60px;
	/* background-color: wheat; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.match_macking {
	width: 100%;
	height: 20%;
	position: relative;
	display: flex;

	align-items: center;
}

.match_macking_bg {
	width: 100%;
	height: 100%;

	background-image: url("/match_making/banner.png");
	background-size: contain !important;
	background-repeat: no-repeat;
	background-position: center;
}
.match_macking_logo {
	width: 80%;
	height: 80%;
	background-image: url("/match_making/text.png");
	background-size: contain !important;
	background-repeat: no-repeat;
	position: absolute;
	top: 23px;
	left: 30px;
}

.match_make_player {
	width: 100%;
	height: 80%;
	/* background-color: gray; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
}
.match_make_player > .player_vs_op {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("/match_making/VS.png");
	background-size: contain !important;
	background-repeat: no-repeat;
	z-index: 3;
}

/* ====================================== Game Play Component ===============================*/
.play_player_bg {
	width: 100%;
	height: 100%;
	background-image: url("/game_play/bg.png");
	background-size: contain !important;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.play_player_bg > .profile {
	position: absolute;
	top: 97px;
	width: 90%;
	height: 53px;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}
.play_player_bg > .profile > .player_profile,
.play_player_bg > .profile > .opponent_profile {
	width: 45%;
	height: 100%;

	display: flex;
	align-items: center;
	flex-direction: row;
}
.play_player_bg > .profile > .player_profile > .player_name,
.play_player_bg > .profile > .opponent_profile > .player_name {
	width: 75%;
	height: 25px;
	border-radius: 5px;
	background-color: #131a50;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 5px;
	font-size: 15px;
	font-weight: 600;

	color: #ffffff95;
}
.play_player_bg > .profile > .plyar_vs_op {
	width: 10%;
	height: 100%;
}
.play_player_bg > .profile > .opponent_profile {
	width: 45%;
	height: 100%;
}
.play_player_bg > .game_board {
	position: relative;
	display: grid;
	grid-template-columns: calc(0.25 * var(--tile-size)) calc(8 * var(--tile-size));
	grid-template-rows: calc(8 * var(--tile-size)) calc(0.25 * var(--tile-size));
	/* background-color: red; */
}
.play_player_bg > .game_board > .fire_left_top {
	object-fit: contain;
	position: absolute;
	left: -56px;
	top: -73px;
}
.play_player_bg > .game_board > .fire_right_top {
	object-fit: contain;
	position: absolute;
	right: -42px;
	top: -75px;
}
.play_player_bg > .game_board > .fire_right_btm {
	object-fit: contain;
	position: absolute;
	right: -44px;
	bottom: -25px;
}
.play_player_bg > .game_board > .fire_left_btm {
	object-fit: contain;
	position: absolute;
	left: -54px;
	bottom: -25px;
}

/* Loading component */
.load_background {
	width: 100%;
	height: 100%;
	background-image: url("/loding/bg.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}
.load_background > .inner_wrapper {
	width: 90%;
	height: 300px;
	position: absolute;
	top: 40%;
	left: 40%;
	transform: translate(-40%, -40%);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.load_background > .inner_wrapper > .loadeing_text {
	width: 150px;
	height: 30px;
	background-image: url("/loding/loding.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.load_background > .inner_wrapper > .loadeing_bg {
	width: 100%;
	height: 20px;
	background-image: url("/loding/loding\ bar\ 2.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.load_background > .inner_wrapper > .loadeing_bg > .loading_bg_active {
	width: 99%;
	height: 100%;
	margin-top: 8px;
	background-image: url("/loding/loding\ bar.png");
	background-repeat: no-repeat;
	background-size: contain;
}
/* @media (min-width: 992px) and (max-width: 1199px) {
	.board-b72b1 {
		width: 500px;
	}
	.board-b72b1 .square-55d63 {
		width: 70px !important;
		height: 70px !important;
	}
	.board-b72b1 .square-55d63 img {
		width: 70px !important;
		height: 70px !important;
	}
}
@media (min-width: 748px) and (max-width: 991px) {
	.board-b72b1 {
		width: 470px !important;
	}
	.board-b72b1 .square-55d63 {
		width: 50px !important;
		height: 50px !important;
	}
	.board-b72b1 .square-55d63 img {
		width: 50px !important;
		height: 50px !important;
	}
} */

@media only screen and (max-width: 600px) {
	:root {
		--tile-size: 40px;
	}
	.play_player_bg > .game_board {
		flex: none;
		margin-bottom: 199px;
	}
	.splash_wrapper,
	.search_wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: white;
	}
	.splash_background {
		width: 100%;
		height: 100%;
		background-image: url("/splashScreen/bg.png");
		background-size: cover !important;
		background-repeat: no-repeat;
	}
	.splash_logo {
		width: 200px;
		height: 200px;
		position: absolute;
		top: 60px;
		right: 60px;
		z-index: 100;

		/* background-color: #39ac31; */
		background-image: url("/splashScreen/title.png");
		background-size: cover !important;
		background-position: center;
		background-repeat: no-repeat;
	}
}
